@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.margin-right {
    margin-right: -10%;
}

.nav-height {
    height: 80px;
}

.banner {
    height: calc(80px-100vh);
}

.text-colored {
    color: azure;
}

a {
    text-decoration: none;
}

.title-wight {
    font-weight: 600;
}

h1 h2 {
    font-family: 'Roboto', sans-serif;
}

.Border-radius {
    border-radius: 26px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.accordion-button {
    font-weight: 600;
    font-size: 22px;
    border: none;


}

.card-title-wight {
    font-weight: 600;

}

.para-color {
    color: #747474;
}

.title-color {
    color: #747474;
}

.bg-height {
    height: 280px;
    margin-top: 10%;
}

.footer-bg-color {
    background-color: black;
}

.margin {
    margin-top: 128px;
}

#About-Us {
    margin-top: 5%;
}

#Our-Package,
#Asked,
#Testimonial {
    margin-top: 7%;
}